.en{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.img{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%
}
img{
    width:90%;
}
#firstpage{
    height: 350px;
    width: auto;
}
article{
    font-family: 楷体;
    line-height: 35px;
    font-size: 1.4em;
    word-break: break-all;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}
.right{
    text-align: right;
}
.center{
    text-align: center;
}
.bold{
    font-weight: bold;
}