a{
    text-decoration: none;
}

.blog_img{
    width: 85%;
    margin: auto;
    margin-left: 3vw;
}

article{
    font-size: 1.1em;
    line-height: 1.8em;
}

.blog_title{
    line-height: 1.5em;
    color: black;
    font-size: 1.8em;
    font-weight: lighter;
    margin-bottom: 2vh;
}

.blog_pre{
    line-height: 1.3em;
    color: rgb(114, 113, 113);
    padding-bottom: 2vh;
}

.block_divider{
    display: inline-block;
    height: 1px;
    width: 10em;
    background-color: rgb(197, 197, 197);
    margin-top: 4vh;
    margin-bottom: 4vh;
}

.block_divider_long{
    display: inline-block;
    height: 1px;
    width: 45vw;
    background-color: rgb(197, 197, 197);
    margin-top: 6vh;
    margin-bottom: 4vh;
}

.blog_date{
    color: rgb(148, 144, 144);
    margin-bottom: 1.5vh;
}

.blog_tag{
    display: inline;
    color: rgb(85, 80, 151);
    padding-right: 1em;
}

.blog_tag_block{
    margin-top: 7vh;
    margin-bottom: 2vh;
}

.blog_content_block{
    margin-top: 5vh;
    text-align: left;
}

#btn_start{
    background-color: transparent;
    color: rgb(207, 206, 206);
    border: 2px solid rgb(207, 206, 206);
    font-size: 1.1em;
    font-weight: bold;
    height: 2.5em;
    width: 5em;
    margin-top: 12vh;
    display: inline-block;
    border-radius: 3em;
}

#btn_home{
    background-color: transparent;
    color: rgb(207, 206, 206);
    border: 2px solid rgb(207, 206, 206);
    font-size: 1.1em;
    font-weight: bold;
    height: 2.5em;
    width: 5em;
    margin-top: 12vh;
    display: inline-block;
    border-radius: 3em;
}

#btn_start:hover{
    background-color: transparent;
    color: rgb(207, 206, 206);
    border: 2px solid rgb(207, 206, 206);
    font-size: 1.1em;
    font-weight: bold;
    height: 2.5em;
    width: 5em;
    margin-top: 12vh;
    display: inline-block;
    border-radius: 3em;
    transform: scale(1.05);
}

#btn_home:hover{
    background-color: transparent;
    color: rgb(207, 206, 206);
    border: 2px solid rgb(207, 206, 206);
    font-size: 1.1em;
    font-weight: bold;
    height: 2.5em;
    width: 5em;
    margin-top: 12vh;
    display: inline-block;
    border-radius: 3em;
    transform: scale(1.05);
}

#btn_home:active{
    background-color: transparent;
    color: rgb(207, 206, 206);
    border: 2px solid rgb(207, 206, 206);
    font-size: 1.1em;
    font-weight: bold;
    height: 2.5em;
    width: 5em;
    margin-top: 12vh;
    display: inline-block;
    border-radius: 3em;
    transform: scale(1);
}

.btn_enter{
    background-color: transparent;
    border: 1px solid rgb(41, 41, 41);
    font-size: 0.9em;
    height: 2em;
    width: 4em;
    border-radius: 3em;
    text-decoration: none;
}

.btn_enter:hover{
    background-color: transparent;
    border: 1px solid rgb(41, 41, 41);
    font-size: 0.9em;
    height: 2em;
    width: 4em;
    border-radius: 3em;
    text-decoration: none;
    transform: scale(1.05);
}

.cover {
    background: url("../img/background.jpg");
    background-position: center;
    background-size: auto 100%;
    width: 100%;
    height: calc(100vh);
    position: fixed;
    float: left;
    padding-top: 20vh;
}

.cover_left {
    background: url("../img/background.jpg");
    background-position: center;
    background-size: auto 100%;
    width: 30% !important;
    height: calc(100vh) !important;
    position: fixed;
    float: left;
    padding-top: 20vh !important;
}

.cover_top {
    position: relative;
    background: url("../img/background.jpg");
    background-position: center;
    background-size: auto 100%;
    width: 100% !important;
    height: 25vh;
    padding-top: 3vh;
    overflow: hidden;
}

.cover_last_left{
    text-align: center;
}

.cover_last_left_divider{
    background-color: rgb(207, 206, 206);
    margin-top: 3vh;
    height: 0px;
    width: 10vw;
}

.cover_panel{
    text-align: center;
}

.cover_panel_show{
    text-align: center;
    width: 13vw;
    position: absolute;
    top: 7vh;
    right: 0vw;
}

.cover_panel_hidden{
    height: 0px;
    overflow: hidden;
    text-align: center;
}

.content_right {
    background-color: white;
    padding-left: 9%;
    padding-right: 7%;
    padding-top: 6vh;
    margin-left: 28%;
    width: 56%;
    height: 94vh;
    text-align: left;
    overflow-y: scroll;
    overflow-x: hidden;
}

.content_down {
    padding-left: 8vw;
    padding-right: 8vw;
    padding-top: 5vh;
    background-color: white;
    text-align: center;
}

.friend_blog_title{
    font-size: 1.8em;
    line-height: 1.5em;
    font-weight: lighter;
    margin-bottom: 2vh;
}

.friend_blog_dis{
    line-height: 1.5em;
    color: rgb(114, 113, 113);
    padding-bottom: 2vh;
}

h2{
    color: rgb(207, 206, 206);
    font-size: 2em;
}

h4{
    color: rgb(207, 206, 206);
    font-size: 16px;
    margin-bottom: 7vh;
}

.icon_dis{
    display: inline;
    margin-left: 0.5vw;
}

.icon_dis_hidden{
    height: 0px;
    width: 0px;
    overflow: hidden;
    display: inline-block;
}

#logo{
    height: 9vh;
    border-radius: 50%;
    margin-bottom: 2vh;
}

.list_icon{
    color: rgb(207, 206, 206);
}

.nav_panel{
    margin-top: 0vh;
}

.nav_panel_hidden{
    margin-top: 0vh;
    height: 0px;
    overflow: hidden;
}

.nav_panel_list_icon{
    position: absolute;
    top: 3vh;
    right: 4vw;
    color: rgb(207, 206, 206);
    font-size: 1.5em;
}

.nav_panel_list_icon_hidden{
    height: 0px;
    overflow: hidden;
}

.nav_panel_element{
    color: rgb(207, 206, 206);
    margin-top: 2vh;
    height: 3vh;
}

.nav_panel_element_show{
    color: rgb(207, 206, 206);
    margin-top: 1.4vh;
    height:2.5vh;

}

.nav_panel_element_hidden{
    color: rgb(207, 206, 206);
    margin-top: 0px;
    height: 0px;
    overflow: hidden;
}

.nav_panel_element_link{
    display: inline;
    font-size: 1.1em;
    text-decoration: none;
    color: rgb(207, 206, 206);
}

.tag_a{
    text-decoration: none;
    color: inherit;
}

.tag_block{
    margin-bottom: -3vh;
}

.tags_head{
    font-size: 1.5em;
    font-weight: lighter;
    margin-bottom: 3vh;
}

.tag_title{
    color: black;
    font-size: 1.8em;
    line-height: 1.5em;
    font-weight: lighter;
    margin-bottom: 2vh;
}

.tag_dis{
    line-height: 1.5em;
    color: rgb(114, 113, 113);
    padding-bottom: 2vh;
}

.text_right{
    text-align: right;
}

.text_center{
    text-align: center;
}