.nheader{
    padding-top: 5%;
}
.ntitle{
    font-size: 200%;
    margin-left: 5%;
    margin-top: 15px;
}
h2.ntitle{
    font-size: 20px;
}
h1.ntitle{
    font-size: 38px;
}
h3.ntitle{
    margin-top: 4%;
    font-size: 18px
}
.nav ul li{
    width: 40%;
}
.nav .second{
    float:right;
}
.bloglist{
    margin-top: 3%;
    width: 100%
}
.blogname{
    background-color: transparent;
    width: 40%;

    margin-left: 0px;
    height: 50px;
    line-height: 50px;
    float: left;
    text-align: center;
}
.fill{
    background-color: transparent;
    width: 20%;
    float: left;
}
.date{
    background-color: transparent;
    text-align: center;
    width: 40%;
    margin-left: 0px;
    line-height: 50px;
    float: right;
}
.bloglist a{
    display: block;
    height: 50px;
    width: 100%;
    margin-top: 1%;
    margin-bottom: 1%;
    background-color: rgb(221, 219, 219);
    color:black;
    display: block;
    text-decoration: none;

}
.bloglist a:hover{
    background-color: #3f3f3f;
    color:#fff
}


